* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  background: linear-gradient(135deg, #232526 0%, #414345 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

.container {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-top: 5vh;
}

h1 {
  margin: 1vh 0;
  font-size: 2.5em;
}

.color-display {
  color: #2a2a2a;
  background-color: aliceblue;
  border-radius: 10px;
  letter-spacing: 2px;
}

.message {
  margin: 20px 0;
}

.streak-section {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.streak-box {
  background-color: #3d3d3d;
  padding: 1rem;
  border-radius: 8px;
  width: 150px;
  height: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.streak-box h3 {
  font-size: 12px;
}

.streak-box p {
  font-size: 30px;
  color: #6acef0;
}


.controls {
  margin: 1rem 0;
}

.control-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.control-btn {
  background-color: #6acef0;
  color: aliceblue;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.mode-btn {
  background-color: #3d3d3d;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.492);
  border-radius: 5px;
  color: aliceblue;
}

.selected {
  color: #3d3d3d;
  background-color: aliceblue;
}

.color-box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.color-box {
  width: 100%;
  padding-top: 100%;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.color-box:hover {
  transform: scale(1.05);
}